.DS_Store
mir/*
bin/mir/*
*.mbc
*.mir
*.mcgen
release/mir/*
bin\*

/bin/gen
/bin/internal-mir
/release/gen
*.mir
*.mcgen
/release/gen/resources/cache
/release/gen/resources
/release/gen
bin/gen/*
bin/internal-mir/Rez.mir